<table>
    <thead>
        <tr>
            <th colspan="2">General Purpose Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#year">Year of First Release</a></th>
            <td>{{ page.year }}</td>
        </tr>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#platform">Platform</a></th>
            <td>{{ page.platform | join: ", " }}</td>
        </tr>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#availability">Availability</a></th>
            <td>{{ page.availability }}</td>
        </tr>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#license">License</a></th>
            <td>{{ page.license }}</td>
        </tr>
    </tbody>
</table>
