<table>
    <thead>
        <tr>
            <th colspan="2">Metadata</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <a aria-describedby="yeartip" href="{{ site.baseurl }}/docs/information.html#year">Release Year&#9432;</a>
                <div role="tooltip" id="yeartip">
                    {{ site.data.short.year }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.year }}
                {% else %}
                {{ page.year }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="platformtip" href="{{ site.baseurl }}/docs/information.html#platform">Platform&#9432;</a>
                <div role="tooltip" id="platformtip">
                    {{ site.data.short.platform }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.platform | join: ", " }}
                {% else %}
                {{ page.platform | join: ", " }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="availabilitytip" href="{{ site.baseurl }}/docs/information.html#availability">Availability&#9432;</a>
                <div role="tooltip" id="availabilitytip">
                    {{ site.data.short.availability }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.availability }}
                {% else %}
                {{ page.availability }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="licensetip" href="{{ site.baseurl }}/docs/information.html#license">License&#9432;</a>
                <div role="tooltip" id="licensetip">
                    {{ site.data.short.license }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.license }}
                {% else %}
                {{ page.license }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="venuetip" href="{{ site.baseurl }}/docs/information.html#venue">Venue&#9432;</a>
                <div role="tooltip" id="venuetip">
                    {{ site.data.short.venue }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.venue }}
                {% else %}
                {{ page.venue }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="usecasetip" href="{{ site.baseurl }}/docs/information.html#use-case">Intended Use Case&#9432;</a>
                <div role="tooltip" id="use-case-tip">
                    {{ site.data.short.use_case}}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.use_case | join: ", " }}
                {% else %}
                {{ page.use_case | join: ", " }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
