<table>
    <thead>
        <tr>
            <th colspan="2">Hardware Control Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <a aria-describedby="categorytip" href="{{ site.baseurl }}/docs/information.html#category">Haptic Category&#9432;</a>
                <div role="tooltip" id="categorytip">
                    {{ site.data.short.hapticCategory }}
                </div>
            </th>
            <td>{{ tool.haptic_category | join: ", " }}</td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="abstractiontip" href="{{ site.baseurl }}/docs/information.html#abstraction">Hardware Abstraction&#9432;</a>
                <div role="tooltip" id="abstractiontip">
                    {{ site.data.short.hardwareAbstraction }}
                </div>
            </th>
            <td>{{ tool.hardware_abstraction }}</td>
        </tr>
    </tbody>
</table>

