<table>
    <thead>
        <tr>
            <th colspan="2">Hardware Control Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#category">Haptic Category</a></th>
            <td>{{ page.haptic_category | join: ", " }}</td>
        </tr>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#abstraction">Hardware Abstraction</a></th>
            <td>{{ page.hardware_abstraction }}</td>
        </tr>
    </tbody>
</table>

