<table>
    <thead>
        <tr>
            <th colspan="2">Interaction Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <a aria-describedby="drivertip" href="{{ site.baseurl }}/docs/information.html#driving-feature">Driving Feature&#9432;</a>
                <div role="tooltip" id="drivertip">
                    {{ site.data.short.drivingFeature }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.driving_feature | join: ", " }}
                {% else %}
                {{ page.driving_feature | join: ", " }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="localizationtip" href="{{ site.baseurl }}/docs/information.html#effect-localization">Effect Localization&#9432;</a>
                <div role="tooltip" id="localizationtip">
                    {{ site.data.short.effectLocalization }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.effect_localization }}
                {% else %}
                {{ page.effect_localization }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="mediatip" href="{{ site.baseurl }}/docs/information.html#media-support">Non-Haptic Media&#9432;</a>
                <div role="tooltip" id="mediatip">
                    {{ site.data.short.mediaSupport }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.media_support | join: ", " }}
                {% else %}
                {{ page.media_support | join: ", " }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="playbacktip" href="{{ site.baseurl }}/docs/information.html#iterative-playback">Iterative Playback&#9432;</a>
                <div role="tooltip" id="playbacktip">
                    {{ site.data.short.iterativePlayback }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.iterative_playback }}
                {% else %}
                {{ page.iterative_playback }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="approachestip" href="{{ site.baseurl }}/docs/information.html#design-approaches">Design Approaches&#9432;</a>
                <div role="tooltip" id="approachestip">
                    {{ site.data.short.designApproaches }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.design_approaches | join: ", " }}
                {% else %}
                {{ page.design_approaches | join: ", " }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="metaphortip" href="{{ site.baseurl }}/docs/information.html#interaction-metaphors">UI Metaphors&#9432;</a>
                <div role="tooltip" id="metaphortip">
                    {{ site.data.short.interactionMetaphors }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.interaction_metaphors | join: ", " }}
                {% else %}
                {{ page.interaction_metaphors | join: ", " }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="storagetip" href="{{ site.baseurl }}/docs/information.html#storage">Storage&#9432;</a>
                <div role="tooltip" id="storagetip">
                    {{ site.data.short.storage }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.storage | join: ", " }}
                {% else %}
                {{ page.storage | join: ", " }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="connectivitytip" href="{{ site.baseurl }}/docs/information.html#connectivity">Connectivity&#9432;</a>
                <div role="tooltip" id="connectivitytip">
                    {{ site.data.short.connectivity }}
                </div>
            </th>
            <td>
                {% if tool %}
                {{ tool.connectivity | join: ", " }}
                {% else %}
                {{ page.connectivity | join: ", " }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

