<table>
    <thead>
        <tr>
            <th colspan="2">Interaction and Interface Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <a aria-describedby="drivertip" href="{{ site.baseurl }}/docs/information.html#driving-feature">Driving Feature</a>
                <div role="tooltip" id="drivertip">
                    {{ site.data.short.drivingFeature }}
                </div>
            </th>
            <td>{{ page.driving_feature | join: ", " }}</td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="localizationtip" href="{{ site.baseurl }}/docs/information.html#effect-localization">Effect Localization</a>
                <div role="tooltip" id="localizationtip">
                    {{ site.data.short.effectLocalization }}
                </div>
            </th>
            <td>{{ page.effect_localization }}</td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="mediatip" href="{{ site.baseurl }}/docs/information.html#media-support">Media Support</a>
                <div role="tooltip" id="mediatip">
                    {{ site.data.short.mediaSupport }}
                </div>
            </th>
            <td>{{ page.media_support | join: ", " }}</td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="playbacktip" href="{{ site.baseurl }}/docs/information.html#iterative-playback">Iterative Playback</a>
                <div role="tooltip" id="playbacktip">
                    {{ site.data.short.iterativePlayback }}
                </div>
            </th>
            <td>{{ page.iterative_playback }}</td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="approachestip" href="{{ site.baseurl }}/docs/information.html#design-approaches">Design Approaches</a>
                <div role="tooltip" id="approachestip">
                    {{ site.data.short.designApproaches }}
                </div>
            </th>
            <td>{{ page.design_approaches | join: ", " }}</td>
        </tr>
        <tr>
            <th>
                <a aria-describedby="metaphortip" href="{{ site.baseurl }}/docs/information.html#interaction-metaphors">Interaction Metaphors</a>
                <div role="tooltip" id="metaphortip">
                    {{ site.data.short.interactionMetaphors }}
                </div>
            </th>
            <td>{{ page.interaction_metaphors | join: ", " }}</td>
        </tr>
    </tbody>
</table>

