<table>
    <thead>
        <tr>
            <th colspan="2">Interaction and Interface Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#driving-feature">Driving Feature</a></th>
            <td>{{ page.driving_feature | join: ", " }}</td>
        </tr>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#effect-localization">Effect Localization</a></th>
            <td>{{ page.effect_localization }}</td>
        </tr>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#media-support">Media Support</a></th>
            <td>{{ page.media_support | join: ", " }}</td>
        </tr>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#iterative-playback">Iterative Playback</a></th>
            <td>{{ page.iterative_playback }}</td>
        </tr>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#design-approaches">Design Approaches</a></th>
            <td>{{ page.design_approaches | join: ", " }}</td>
        </tr>
        <tr>
            <th><a href="{{ site.baseurl }}/docs/information.html#interaction-metaphors">Interaction Metaphors</a></th>
            <td>{{ page.interaction_metaphors | join: ", " }}</td>
        </tr>
    </tbody>
</table>

